# Changes here will be overwritten by Copier — edit them via `copier update` instead.
# This records the answers you gave so `copier update` can re-apply later template improvements.
{{ _copier_answers | to_nice_yaml }}
