__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/
.venv/
venv/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

# CI-only Terraform S3 backend override (written by deploy-mesh.yml at run time)
deploy/mesh/terraform/backend_override.tf
